{% extends "base.html" %}
{% load static %}

{% block pageheader %}
<!-- ====== Page-specific Header ====== -->
<section class="page-header d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-8">
          <h1 class="page-title">Events<span>.</span></h1>
        </div>
      </div>

    </div>
  </section><!-- ====== END Page Header ====== -->
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row mt-4">

        {% for event in event_list %}
        <hr class="col-12">
        <h5 class="col-12">{{ event.start_date }} @ {{ event.start_time }} - {{ event.end_time }}</h5>
        <h4 class="col-11 offset-1"><a href="{% url 'event_detail' slug=event.slug %}">{{ event.name }}</a></h4>
        <h5 class="col-11 offset-1">{{ event.location.venue_name }}<span>, {{ event.location.street_address1 }}</span></h5>
        <p class="d-block">{{ event.short_description }}</p>

        <div class="card col-12 col-md-4 col-lg-3">
            <img class="card-img-top" src="{{ event.featured_image.url }}" alt="{{ event.name }} image">
            <div class="card-body">
              <h5 class="card-title">{{ event.name }}</h5>
              <p class="card-text">{{ event.short_description }}</p>
              <a href="#" class="btn btn-primary">More info</a>
            </div>
        </div>

          {% if forloop.counter|divisibleby:4 %}
      </div>
      <div class="row">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}