{% extends "base.html" %}
{% load static %}

{% block pageheader %}
{% include 'includes/page-header.html' %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- if bookings condition -->
        <div class="table-responsive rounded py-3">
          <table class="table table-sm">
            <thead class="text-black thead-light">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
                <th scope="col">Price</th>
                <th scope="col" class="text-center">Qty</th>
                <th scope="col" class="d-none d-sm-table-cell">Subtotal</th>
              </tr>
            </thead>

            <!-- for item in bookings -->
            <tr>
              <td class="table-cell">
                  <p class="font-weight-bold">item.date</p>
              </td>
              <td class="table-cell">
                <p>item.name</p>
              </td>
              <td class="table-cell">
                  <p>€xxx</p>
              </td>
              <td class="table-cell text-center">
                <!-- Quantity Form -->
                <form class="" method="POST" action="">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <!-- prepend input with + button -->
                        <button class="btn btn-sm rounded-0"
                          id="decrement-qty_{{ item.event_id }}">
                          <i class="fas fa-minus fa-sm"></i>
                        </button>
                      </div>
                      <!-- Qty input follows: -->
                      <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                        value="{{ item.quantity }}" min="1" max="99"
                        id="id_qty_{{ item.event_id }}">
                      <div class="input-group-append">
                        <!-- append - button to input -->
                        <button class="btn btn-sm rounded-0" id="increment-qty_{{ item.event_id }}">
                            <i class="fas fa-plus fa-sm"></i>
                        </button>
                      </div>
                    </div> <!-- End of input group-->
                  </div> <!-- End of form group-->
                </form>
              </td> <!-- End of Quantity form table cell-->
              <td class="table-cell d-none d-sm-table-cell">
                  <p>€subtotalhere</p>
              </td>
            </tr>
            <!-- endfor -->
            <tr>
              <td colspan="5" class="text-right">
                <p class="emphatic-text">Total <span class="font-weight-bold text-black">€XX</span></p>
              </td>
            </tr>
          </table>
          <div class="justify-items-between">
            <a href="{% url 'event_list' %}" class="btn rounded-0 btn-lg text-left">
              <i class="fas fa-chevron-circle-left"></i>
              <span class="text-uppercase">Back to Events</span>
            </a>
            <a href="{% url 'checkout' %}" class="btn rounded-0 btn-lg text-right">
              <span class="text-uppercase">Secure Checkout</span><i class="fas fa-lock"></i>
            </a>
          </div>
          <!-- else (!bookings) -->
          <p>Your cart is currently empty.</p>
          <a href="{% url 'event_list' %}" class="btn rounded-0 btn-lg">
            <i class="fas fa-chevron-circle-left"></i>
            <span class="text-uppercase">Back to Events</span>
          </a>
        </div>
      <!-- endif here -->
      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
<!-- Add Qty form func. +/- here -->
<!-- Also remove item functionality? -->
{% endblock %}