{% extends "base.html" %}
{% load static %}

{% block pageheader %}
{% include 'includes/page-header.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
    {% if cart_items %}
      <div class="table-responsive rounded py-3">
        <table class="table table-sm">
          <thead class="text-black thead-light">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Event</th>
              <th scope="col">Per Ticket</th>
              <th scope="col" class="text-center">Qty</th>
              <th scope="col" class="d-none d-sm-table-cell">Subtotal</th>
            </tr>
          </thead>

          {% for item in cart_items %}
          <tr>
            <td class="table-cell">
                <p class="font-weight-bold">{{ item.event.start_date }}</p>
            </td>
            <td class="table-cell">
              <p>{{ item.event.name }}</p>
            </td>
            <td class="table-cell">
                <p>€{{ item.event.price }}</p>
            </td>
            <td class="table-cell text-center">
              <!-- Quantity Form -->
              <form class="update-qty-form" method="POST" action="{% url 'amend_cart' item.event_id %}">
                {% csrf_token %}
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button type="button" class="decrement-qty btn rounded-0" aria-label="Decrease quantity to purchase" data-event_id="{{ item.event_id }}" id="decrement-qty_{{ item.event_id }}"><i class="fas fa-minus"></i></button>
                    </div>
                    <input class="form-control qty_input" aria-label="Quantity to purchase"  type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-event_id="{{ item.event.id }}" id="id_qty_{{ item.event_id }}">
                    <div class="input-group-append">
                      <button type="button" class="increment-qty btn rounded-0" aria-label="Increase quantity to purchase" data-event_id="{{ item.event_id }}" id="increment-qty_{{ item.event_id }}"><i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div> <!-- End of input group-->
                </div> <!-- End of form group-->
              </form>
              <!-- Update Qty & Remove Item Links -->
              <a class="update-link text-info"><small>Update</small></a>
              <a class="remove-item text-danger float-right" id="remove_{{ item.event_id }}"><small>Remove</small></a>
            </td> <!-- End of Quantity form table cell-->
            <td class="table-cell d-none d-sm-table-cell">
                <p>€{{ item.subtotal|floatformat:2 }}</p>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="5" class="text-right">
              <p class="emphatic-text">Total <span class="font-weight-bold text-black">€{{ total|floatformat:2 }}</span></p>
            </td>
          </tr>
        </table>
        <div class="justify-items-between">
          <a href="{% url 'event_list' %}" class="btn rounded-0 btn-lg text-left">
            <i class="fas fa-chevron-circle-left"></i>
            <span class="text-uppercase">Back to Events</span>
          </a>
          <a href="{% url 'checkout' %}" class="btn rounded-0 btn-lg text-right">
            <span class="text-uppercase">Secure Checkout</span><i class="fas fa-lock"></i>
          </a>
        </div>
    {% else %}
        <p class="mt-3 mt-md-5">Your cart is currently empty.</p>
        <a href="{% url 'event_list' %}" class="btn rounded-0 btn-lg">
          <i class="fas fa-chevron-circle-left"></i>
          <span class="text-uppercase">Back to Events</span>
        </a>
      </div>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'events/includes/quantity-control.html' %}

<script type="text/javascript">
  // Update quantity on click
  $('.update-link').click(function(e) {
  let form = $(this).prev('.update-qty-form');
  form.submit();
  })

  // Remove item and reload on click
  $('.remove-item').click(function(e) {
    console.log("1");
    let csrfToken = "{{ csrf_token }}";
    console.log("2");
    let eventId = $(this).attr('id').split('remove_')[1];
    console.log("3");
    let data = {'csrfmiddlewaretoken': csrfToken,};
    console.log("4");
    let url = `/remove/${eventId}/`;
    console.log("5");

    $.post(url, data)	
      .done(function() {	
        console.log("6");
          location.reload();
          console.log("7");	
      });	
  })

</script>

{% endblock %}