{% extends "base.html" %}
{% load static %}

{% block pageheader %}
{% include 'includes/page-header.html' %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- if bookings condition -->
        <div class="table-responsive rounded py-3">
          <table class="table table-sm">
            <thead class="text-black thead-light">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
                <th scope="col">Price</th>
                <th scope="col" class="text-center">Qty</th>
                <th scope="col" class="d-none d-sm-table-cell">Subtotal</th>
              </tr>
            </thead>

            <!-- for item in bookings -->
            <tr>
              <td class="table-cell">
                  <p class="font-weight-bold">item.date</p>
              </td>
              <td class="table-cell">
                <p>item.name</p>
              </td>
              <td class="table-cell">
                  <p>€item.price</p>
              </td>
              <td class="table-cell text-center">
                qty form here
              </td>
              <td class="table-cell d-none d-sm-table-cell">
                  <p>€subtotalhere</p>
              </td>
            </tr>
            <!-- endfor -->
            <tr>
              <!-- Render Total and options to return to events_list or checkout -->
            </tr>
          </table>
          <!-- else (!bookings) -->
          <p>Your cart is currently empty.</p>
          <a href="{% url 'event_list' %}" class="btn rounded-0 btn-lg">
            <i class="fas fa-chevron-circle-left"></i>
            <span class="text-uppercase">Back to Events</span>
          </a>
        </div>
      <!-- endif here -->
      </div>
    </div>
  </div>
{% endblock %}