{% extends "base.html" %}
{% load static %}

{% block pageheader %}
<!-- ====== Page-specific Header ====== -->
<section class="page-header">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="row">
        <div>
          <h1 class="page-title">Cart<span>.</span></h1>
        </div>
      </div>
    </div>
  </section><!-- ====== END Page Header ====== -->
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- if bookings condition -->
        <div class="table-responsive rounded">
          <table class="table table-sm table-borderless">
            <thead class="text-black">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Subtotal</th>
              </tr>
            </thead>

            <!-- for item in bookings -->
            <!-- render details -->
            <!-- endfor -->

            <!-- Render Total and options to return to events_list or checkout -->
          </table>
          <!-- else (!bookings) -->
          <p>Your cart is currently empty.</p>
          <a href="{% url 'event_list' %}" class="btn rounded-0 btn-lg">
            <i class="fas fa-chevron-circle-left"></i>
            <span class="text-uppercase">Back to Events</span>
          </a>
        </div>
      <!-- endif here -->
      </div>
    </div>
  </div>
{% endblock %}