{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block pageheader %}
{% include 'includes/page-header.html' %}
{% endblock %}

{% block content %}
<form action="" method="" id="payment-form">
    {% csrf_token %}
    <fieldset class="rounded">
        <legend class="fieldset-label">Your Details</legend>
        {{ booking_form.first_name }}
        {{ booking_form.last_name }}
        {{ booking_form.email }}
        {{ booking_form.telephone }}
    </fieldset>
    <fieldset class="rounded">
        <legend class="fieldset-label">Address</legend>
        {{ booking_form.street_address1 }}
        {{ booking_form.street_address2 }}
        {{ booking_form.city_or_town }}
        {{ booking_form.postcode }}
        {{ booking_form.county }}
        {{ booking_form.country }}
    </fieldset>
    <fieldset class="px-3">
        <legend class="fieldset-label small text-black">Card Details:</legend>
        <!-- Stripe card element mounted by stripe_elements.js -->
        <div id="card-element"></div>
        <input type="hidden" value="{{ client_secret }}" name="client_secret">
    </fieldset>
</form>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}