* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

 /* ====== Custom Colors ======  */
:root {
    --accent-color1: #FFC105;
    --accent-color2: #0F0B00;
  }

.text-black {
    color: #000000;
}

.text-white {
    color: #FFFFFF;
}

.text-color1 {
    color: var(--accent-color1);
}

.emphatic-text {
    color: #636060;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -.05rem;
}

.bg-color1 {
    background-color: var(--accent-color1);
}

.bg-color2 {
background-color: var(--accent-color2);
}

 /* ====== Links ======  */

 a {
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--accent-color1);
 }

 /* ====== Navigation ======  */

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 193, 5, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.nav-link {
    text-decoration: none;
}

a.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-color1);
}

.scrolled {
    background-color: #343a40;
}

 /* ====== Hero Section ======  */

#hero > a {
    color: #ffffff;
    text-decoration: underline;
}

#hero {
    height: 100vh;
    width: 100%;
    background: url("../../media/acme-events-anvil.png") top center;
    background-size: cover;
    position: relative;
  }

#brand, .page-title {
    color: #ffffff;
}

#brand > span {
    font-size: 2em;
    color: var(--accent-color1);
}

 /* ====== Page-specific Headers ======  */

.page-header {
    height: 20vh;
    max-width: 100%;
    min-width: 100%;
    background: url("../../media/acme-events-anvil.png") top center;
    background-size: cover;
    position: relative;
  }

  .page-title > span {
    font-size: 2em;
    color: var(--accent-color1);
}

 /* ====== Headings ======  */
h3 {
    font-size: 1.2rem;
}

 /* ====== Footer ======  */

footer {
    background-color: var(--accent-color2);
    display: block;
    clear: both;
}

 /* ====== EventList & EventDetails ======  */

hr {
    border: 0;
    clear:both;
    display:block;
    margin:auto;
    width: 95%;               
    background-color: var(--accent-color1);
    height: 1px;
  }

#venue-table {
    border-top: 2px solid var(--accent-color1);
}

 /* ====== Cursors ======  */
 
.remove-item, .update-link {
    cursor: pointer;
}

 /* ====== Media Queries ======  */

 @media (max-width: 768px) {
    .navbar-collapse{
        background-color: #343a40;
    }

    .nav-link {
        border: .25px groove var(--accent-color1);
    }

    footer input {
        margin-bottom: .5rem;
    }
  }