<!-- ====== Navigation: 'included' into base.html ====== -->
<div class="container-fluid">
    
    <nav class="navbar {% if 'accounts/' in request.path %} navbar-light {% else %} navbar-dark {% endif %} navbar-expand-md py-2 fixed-top main-navbar" id="mainNav">
    
        <!-- Nav Toggler -->
        <button class="navbar-toggler custom-toggler ml-auto" id="navbarToggler" data-toggle="collapse" data-target="#navLinks"
            aria-label="Toggle Navigation Menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Nav Items -->
        <div class="collapse navbar-collapse px-0 mx-0" id="navLinks">
            <ul class="navbar-nav ml-auto text-right px-0">
                {% if template_name != 'index' %}
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-3 m-0 px-md-1">Home</a></li>
                {% endif %}
                <li class="nav-item"><a href="{% url 'event_list' %}" class="nav-link px-3 m-0 px-md-1">Events</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="#" class="nav-link px-3 m-0 px-md-1"><i
                            class="fas fa-cog d-inline"></i> Settings</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-3 m-0 px-md-1"><i
                            class="fas fa-user d-inline"></i> My Tickets</a></li>
                <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link px-3 m-0 px-md-1"><i
                            class="fas fa-sign-out-alt d-inline"></i> Sign Out</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'account_signup' %}" class="nav-link px-3 m-0 px-md-1">Create Account</a></li>
                <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link px-3 m-0 px-md-1">Log In</a></li>
                {% endif %}
                <li class="nav-item"><a href="{% url 'cart' %}" class="nav-link px-3 m-0 px-md-1"><i class="fas fa-shopping-cart d-none d-md-inline">
                    {% if condition %}
                    <span class="badge badge-pill badge-light">#</span>
                    {% endif %}
                </i><span class="d-inline d-md-none">Shopping Cart</span>
                </a></li>
            </ul>
        </div>
    </nav>
</div>