<!-- ====== Navigation: 'included' into base.html ====== -->
<div class="container-fluid">
    
    <nav class="navbar {% if 'accounts/' in request.path %} navbar-light {% else %} navbar-dark {% endif %} navbar-expand-md py-2 fixed-top main-navbar" id="mainNav">
    
        <!-- Nav Toggler -->
        <button class="navbar-toggler custom-toggler ml-auto" id="navbarToggler" data-toggle="collapse" data-target="#navLinks"
            aria-label="Toggle Navigation Menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Nav Items -->
        <div class="collapse navbar-collapse px-0 mx-0" id="navLinks">
            <ul class="navbar-nav ml-auto text-right px-3">
                {% if template_name != 'index' %}
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-4 m-0 px-md-1">Home</a></li>
                {% endif %}
                <li class="nav-item"><a href="{% url 'event_list' %}" class="nav-link px-4 m-0 px-md-1"><i class="fas fa-ticket-alt d-none d-md-inline pl-2"></i>Events</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link px-4 m-0 px-md-1"><i class="fas fa-user d-none d-md-inline pl-2"></i>My Bookings</a></li>
                <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link px-4 m-0 px-md-1"><i class="fas fa-sign-out-alt d-none d-md-inline pl-2"></i>Sign Out</a> </li>
                {% else %}
                <li class="nav-item"><a href="{% url 'account_signup' %}" class="nav-link px-4 m-0 px-md-1">Create Account</a></li>
                <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link px-4 m-0 px-md-1">Log In</a></li>
                {% endif %}
                <li class="nav-item"><a href="{% url 'view_cart' %}" class="nav-link px-4 m-0 px-md-1"> <i class="fas fa-shopping-cart d-none d-md-inline px-2">
                    {% if ticket_count > 0 %}
                    <span class="badge badge-pill badge-light">{{ ticket_count }}</span>
                    {% endif %}
                </i> <span class="d-inline d-md-none">Shopping Cart</span>
                </a></li>
            </ul>
        </div>
    </nav>
</div>